# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# SQLite Database
*.db

# Node
node_modules/

# Vite / React build
dist/
build/

# Environment files
.env

# IDE
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
